<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="UsuariosDBEntities" connectionString="metadata=res://*/UsuariosModel.csdl|res://*/UsuariosModel.ssdl|res://*/UsuariosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.1.134,52273;initial catalog=UsuariosDB;persist security info=True;user id=sa;password=Awais@143;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>